* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.title-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    color: #ffffff;
    font-family: 'Arial Black', sans-serif; /* Utilizamos una fuente pesada */
    font-size: 28px;
    text-transform: uppercase; /* Convertimos el texto a mayÃºsculas */
}

.video-container {
    margin-top: 50px; /* Ajustar segÃºn sea necesario */
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

@keyframes backgroundChange {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

body {
    background: linear-gradient(to right, #000000, #333333); /* Fondo inicial */
    background-size: 200% auto;
    animation: backgroundChange 5s linear infinite; /* AnimaciÃ³n de cambio de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    animation: glow 3s infinite alternate; /* Aplicamos la animaciÃ³n de resplandor */
    background-color: transparent; /* Fondo del reproductor de video transparente */
}
